@import "../../style/variables";
.card-container {
    border: 1px solid $white;
    padding: 20px;
    text-align: center;
    .thumb-image {
        width: 100%;
    }
    .c-name,
    .c-category {
        letter-spacing: 0.2px;
    }
    .c-name {
        margin-bottom: 10px;
    }
    .c-category {
        margin-top: 10px;
    }
    Button {
        margin-top: 10px;
    }
    .btn {
        .icon {
            margin-right: 5px;
        }
    }
    .already-in {
        margin-top: 20px;
    }
}

@media screen and (max-width: 280px) {
    h1 {
        margin-top: 0;
    }
    .c-name,
    .c-category {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {}