// @import url('../../style/_variables.scss');
.header {
    display: flex;
    height: 90px;
    padding: 15px;
    align-items: center;
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #230312;
        z-index: 999;
    }
    .nav-items {
        display: flex;
        align-items: center;
        margin-left: auto;
        .nav-item {
            padding: 5px 12px;
            margin-left: 15px;
            border-radius: 3px;
            color: #fff;
            line-height: 24px;
            display: inline-block;
            background-color: transparent;
            cursor: pointer;
            &.active {
                background-color: #c52d2f;
            }
        }
    }
}